<?xml version="1.0" encoding="utf-8"?>
<appSettings>
  <!--账号默认长度-->
  <add key="UserCodeLength" value="10" />
  <!--marc子字段之间的分隔符-->
  <add key="BreakCode1" value="@" />
  <!--marc字段之间的分隔符-->
  <add key="BreakCode2" value="#" />
  <!--馆藏分配时默认的馆藏部门-->
  <add key="DefaultCollectDept" value="C" />
  <!--ACS参数配置文件 服务器IP|端口号|编码格式 用户名|密码|机器名-->
  <add key="ASCInfo" value="202.107.212.146|6820|UTF-8|admin|admin|yt_dxfg_wj9" />
  <!--打印模块配置文件-->
  <!--条形码打印-->
  <!--<add key="BarCodePrintSet" value="杭州天艺演示信息\9\13\4\273\210\22.84046\52.5145\8\0\0\0\True\True" />
    <add key="Font" value="宋体\Bold\12" />-->
  <!--借书证打印-->
  <add key="MainTitleFont" value="宋体\12\1\1\0\0\0" />
  <!--fontFamily\大小\regular\bold\Italic\underline\Strikeout  1表示是-->
  <add key="BorrowFont" value="微软雅黑\15\1\1\0\0\0" />
  <!--fontFamily\大小\regular\bold\Italic\underline\Strikeout  1表示是-->
  <add key="NameFont" value="微软雅黑\12\1\1\0\0\0" />
  <!--fontFamily\大小\regular\bold\Italic\underline\Strikeout  1表示是-->
  <add key="BackFont" value="微软雅黑\12\1\1\0\0\0" />
  <!--fontFamily\大小\regular\bold\Italic\underline\Strikeout  1表示是-->
  <add key="BackInfo" value="注意事项\\   1.请勿在借书证上乱涂乱画。\   2.借书证只能本人使用。\   3.请勿大声喧哗。" />
  <add key="LibCardPrintSet" value="1\1\0\0" />
  <!--格式1 打印正面 不打印照片 不增补打印-->
  <!--目录卡打印-->
  <add key="CatalogCardPrintSet" value="3\2\276\210\75\125\0\0\0\0\False\False" />
  <!--账册打印-->
  <add key="BookPrintSet" value="0\0\0\0\0\A4\210\296\1 " />
  <!-- 自动0手动1 上下左右  纸张名称  页宽 页高  纵打0-->
  <add key="BookMainTitleFont" value="宋体\9\1\0\0\0\0" />
  <!--fontFamily\大小\regular\bold\Italic\underline\Strikeout  1表示是-->
  <add key="SmallTitleFont" value="宋体\9\1\0\0\0\0" />
  <!--fontFamily\大小\regular\bold\Italic\underline\Strikeout  1表示是-->
  <add key="ColumnsFont" value="宋体\9\1\0\0\0\0" />
  <!--fontFamily\大小\regular\bold\Italic\underline\Strikeout  1表示是-->
  <add key="CellsFont" value="宋体\9\1\0\0\0\0" />
  <!--打印模块配置文件end-->
  <!--读者信息导入时默认密码-->
  <add key="Password" value="123456" />
  <add key="ClientSettingsProvider.ServiceUri" value="" />
  <!--数据库备份用到的参数-->
  <!--手动路径-->
  <add key="SDPath" value="E:\TYLAS5BACKUP" />
  <!--自动路径-->
  <add key="AutoPath" value="I:" />
  <!--下次备份时间-->
  <add key="NextBkTime" value="2015-05-18 15:00" />
  <add key="TimeSpan" value="2" />
  <!--是否选择自动备份-->
  <add key="AutoBuckUp" value="True" />
  <!--星期，0:日  1：一 2：二 3：三  7：每天-->
  <add key="WeekDay" value="1" />
  <!--每天备份时间-->
  <add key="Time" value="15:00" />
  <add key="IsFirstRun" value="0" />
  <!--数据库备份用到的参数end-->
  <!--天气城市-->
  <add key="WeatherCity" value="浙江|宁波|慈溪" />
  <!--数据库版本-->
  <add key="DatabaseVersion" value="5.0.0" />
  <!--数据库名称-->
  <add key="DatabaseName" value="TYLAS5" />
  <add key="当前一卡通" value="21" />
  <!--名字\输出长度0表示原值\串口类型\com口号-->
  <add key="flag" value="0" />
  <!--0表示末尾不含标志位，1表示含有-->
  <add key="char" value="#" />
  <add key="SoftUserName" value="123123" />
  <add key="SoftUserType" value="学校" />
  <!--|公共馆|学校|：主要为了屏蔽或者显示学校专属的功能，如学年升级等-->
  <add key="ApplicationSkinName" value="DevExpress Style" />
  <!--存储的皮肤名称-->
  <add key="CircleColorSetting" value="255,0,128,0|255,0,0,255|255,192,192,0|255,255,0,0|255,255,255,255|255,192,255,255|255,0,0,64|255,0,255,0|" />
  <add key="CardSet" value="21|1|3|1|0|1" />
  <add key="CatalogMode" value="BlankMode" />
  <add key="BookLabelPrintSet" value="020100;BigClassCode|;SmallClassCode|;BookOrderNum|;BarCode|$6|10|250|207|9.5|1|0|2.5$4|2.8|3|3|4$BarCode|False|True|0|0|打印标题" />
  <add key="FirstLineFont" value="宋体\9\1\0\0\0\0" />
  <add key="SecondLineFont" value="宋体\9\1\0\0\0\0" />
  <add key="ThirdLineFont" value="宋体\9\1\0\0\0\0" />
  <add key="ForthLineFont" value="宋体\9\1\0\0\0\0" />
  <add key="UserColumns" value="gcUserCode,1,101|gcCardNo,2,101|gcUserName,3,63|gcSex,4,108|gcDept,5,108|gcUserState,7,108|gcRole,8,113|gcSelector,0,45|gcBorrowNo,6,108|gcOperate,9,60|" />
  <add key="DeptBorrowColumns" value="gcUserName,0,68|gcUserDept,3,68|gcBarCode,1,111|gcBookTitle,2,243|gcCollectDept,4,103|gcBorrowDate,5,94|gcReturnDate,6,88|gcBookState,7,66|" />
</appSettings>