<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <connectionStrings>
        <add name="localhost_test_Connection" connectionString="XpoProvider=MSSqlServer;data source=DESKTOP-P5P5VAP;user id=sa;password=123456;initial catalog=test;Persist Security Info=true" />
    </connectionStrings>
</configuration>