<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DevReportDemo.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="localhost_test_Connection" connectionString="XpoProvider=MSSqlServer;data source=DESKTOP-P5P5VAP;user id=sa;password=123456;initial catalog=test;Persist Security Info=true" />
    </connectionStrings>
    <userSettings>
        <DevReportDemo.Properties.Settings>
            <setting name="Name" serializeAs="String">
                <value>Nmae</value>
            </setting>
        </DevReportDemo.Properties.Settings>
    </userSettings>
</configuration>